* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  background-color: #fff;
  height: 2px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 300ms ease-in-out;
  width: 100%;
  will-change: transform;
}

.loading-bar.ended {
  transform-origin: center right;
  transition: transform 1.5s ease-in-out;
}
